:host {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        height: 100%;
    }
    .to-do-header {
        text-align: center;
        margin-bottom: 20px;
        h1 {
            font-size: 2.5rem;
            color: #333;
        }
    }
}